/* reseting pre-applied css */

<<<<<<< HEAD
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
    text-align: center;
    /* background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
    font-family: 'Bree Serif', serif;
=======
body { background-image:url("bg-gif.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
>>>>>>> origin
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    margin: 15px;
    font-family: 'Bree Serif', serif;
}

label {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.8rem;
}


/* Header Part Styling */

.firstpage-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#collegeName {
    font-family: 'Bree Serif', serif;
    font-size: 2.7rem;
}

#tag {
    font-size: 1.4rem;
    font-family: 'Akaya Telivigala', cursive;
}


/* Form Styling */

#stdForm {
    margin: 80px;
    border-radius: 10px;
    padding: 10px;
}

.but {
    text-decoration: none;
    margin: 10px;
    color: #EDF6E5;
}

.but:hover {
    color: #fff;
}


/* Footer part */

footer {
    bottom: 0;
    margin: 80px;
}

.box {
    margin: 20px;
    text-align: left;
}

.inn {
    text-align: center;
}

<<<<<<< HEAD
.social {
    margin: 15px;
}


/* Responsive */

@media only screen and (max-width: 600px) {
    .box {
        text-align: center;
        margin: 10px;
    }
    #collegeName {
        font-size: 2rem;
    }
    #tag {
        font-size: 1rem;
        font-family: 'Akaya Telivigala', cursive;
    }
    footer {
        margin: 20px;
    }
    #stdForm {
        margin: 15px;
    }
}
=======
/* std form-- section  */
section{
    /* border: 2px solid red; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   align-items: center;
}

/* designing form */
form{
    /* border: 2px solid blue; */
    margin-top: 100px;
    color : #EDF6E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
  }

  #form-submit:hover{
     background-color: #FF6363;
   }
 #form-submit{
   padding      : 5px;
   font-family  : 'Bree Serif', serif;
   border       : 2px solid #333;
   border-radius: 5px;
   margin-top: 20px;

   background   : none;
   cursor       : pointer;
   transform    : rotate(-1.5deg);
   background-color: #EDF6E5;
   display: inline;
}

#clear-form:hover{
   background-color: #FF6363;
 }
#clear-form {

  padding      : 5px;
  font-family  : 'Bree Serif', serif;
  border       : 2px solid #333;
  border-radius: 5px;
  margin-top: 20px;
  background   : none;
  cursor       : pointer;
  transform    : rotate(-1.5deg);
  background-color: #EDF6E5;
  display: inline;

}

label{
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            font-family: 'Akaya Telivigala', cursive;
            font-size: 1.8rem;
            text-align: left;
            width: 200px;
            vertical-align: top;
        }

input{

  border-radius: 6px;
}
>>>>>>> origin
