/* reseting pre-applied css */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  text-align: center;
  /* background: rgb(59,49,232); */
/* background: linear-gradient(281deg, rgba(59,49,232,1) 0%, rgba(154,55,208,0.9953023445706407) 34%, rgba(0,212,255,1) 100%); */
  /* background-image: -webkit-linear-gradient(60deg, #f3a0de 20%,rgb(235, 173, 103) 30%, #714add 60%); */
  font-family: "Bree Serif", serif;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 15px;
  font-family: "Bree Serif", serif;
}

label {
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.8rem;
}
/* Header Part Styling */

.firstpage-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#collegeName {
  font-family: "Bree Serif", serif;
  font-size: 2.7rem;
}

.tagline {
  margin: 20px;
}

#tag {
  font-size: 1.4rem;
  font-family: "Akaya Telivigala", cursive;
}
/* Form Styling */

#stdForm {
  margin: 80px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.but {
  text-decoration: none;
  margin: 10px;
  color: #edf6e5;
}

.but:hover {
  color: #fff;
}
/* Footer part */

footer {
  bottom: 0;
  margin: 80px;
}

.box {
  margin: 20px;
  text-align: left;
}

.inn {
  text-align: center;
}

.social {
  margin: 15px;
}
.git:hover {
  color: black;
}
/* Responsive */

@media only screen and (max-width: 600px) {
  .box {
    text-align: center;
    margin: 10px;
  }
  #collegeName {
    font-size: 2rem;
  }
  #tag {
    font-size: 1rem;
    font-family: "Akaya Telivigala", cursive;
  }
  footer {
    margin: 20px;
  }
  #stdForm {
    margin: 15px;
  }
}
